<%if notice%>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<%end%>

<p class="col-md-4">
  <strong>Priority:</strong>
  <%= @incident.priority %>
</p>

<p class="col-md-4">
  <strong>Title:</strong>
  <%= @incident.title %>
</p>

<p class="col-md-4">
  <strong>Content:</strong>
  <%= @incident.content %>
</p>
<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>User Email</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.email %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="col-sm-12">
	<%= link_to 'Edit', edit_incident_path(@incident), class: "col-md-1 links" %>
	<%= link_to 'Back', incidents_path, class: "col-md-1 links" %>
</div>

