<p id="notice"><%= notice %></p>

<p>
  <strong>Priority:</strong>
  <%= @incident.priority %>
</p>

<p>
  <strong>Title:</strong>
  <%= @incident.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @incident.content %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
