<p id="notice"><%= notice %></p>

<p class="col-md-4">
  <strong>Company Name:</strong>
  <%= @company.company_name %>
</p>

<p class="col-md-4">
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p class="col-md-4">
  <strong>Address Number:</strong>
  <%= @company.address_num %>
</p>
<div class="col-sm-12">
	<%= link_to 'Edit', edit_company_path(@company), class: "col-md-1 links" %>
	<%= link_to 'Back', companies_path, class: "col-md-1 links" %>
</div>
