<!DOCTYPE html>
<html>
<head>
  <title>
    <%if user_signed_in? %>
      User: <%=current_user.email%>
    <%end%>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    	<%= link_to 'Home', root_path, class: "navbar-brand" %>
    </div>
    <%if user_signed_in?%>
      <ul class="nav navbar-nav">
  		  <li><%= link_to 'Incidents', incidents_path%></li>
  		  <li><%= link_to 'Companies', companies_path %></li>
        <%if admin?%>
          <li> <%= link_to 'Edit user', admin_users_path%></li>
        <%end%>
      </ul>
      <ul class="nav navbar-nav navbar-right">
  		  <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, :method => :delete %></li> 
      </ul>
    <% else%>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign in', user_session_path %>
      </ul>
    <%end%>
  </div>
</nav>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
