<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%if user_signed_in?%>
<%= link_to 'Cerrar Sesión', destroy_user_session_path, :method => :delete %>
<% else%>
<a href="/users/sign_in">sign in</a>
<%end%>
<%= yield %>

</body>
</html>
